main{
    display: flex;
    justify-content: center;
}

.main-content{
    width: 80vw;
    height: 240vh;
    background-color: white;
    color: black;
}

.sub-article-container{
    height: 90vh;
    display: flex;
    text-align: center;
    // margin: 10px;

    & h1{
        font-size: 1.5rem;
    }

    & img{
        object-fit: cover;
        width: 100%;
    }
    & p{
        width: 75%;
        font-size: 1.3rem;
        text-align: justify;
    }
}

.footer-container{
    width: 80vw;
    height: 75vh;
    background: $color2;
    display: flex;
}

.form-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $color3;

    & form{
        width: 75%;
        height: 90%;
        text-transform: uppercase;
        font-family: $font2;
        color: rgb(99, 97, 97);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & input{
            border: 1px solid $color3;
            background: none;
            height: 45px;
        }

        & textarea{
            resize: none;
            background: none;
            border: 1px solid $color3;
            height: 20vh;
        }
    }
}

.infos-container{
    width: 50%;
    display: grid;
    color: $grey2;
    

    & h4{
        text-transform: uppercase;
        color: $grey1;
        font-family: $font2;
        letter-spacing: 2px;
        font-size: 0.8rem;
    }

    & .address  {
        display: grid;
        grid-template-columns: 115px 1fr;
        border-bottom: 1px solid $color3;
        align-items: center;
    }

    & .phone{
        display: grid;
        grid-template-columns: 115px 1fr;
        border-bottom: 1px solid $color3;
        align-items: center;
    }
    & .email{
        display: grid;
        grid-template-columns: 115px 1fr;
        border-bottom: 1px solid $color3;
        align-items: center;
    }
    & .social{
        display: grid;
        grid-template-columns: 115px 1fr;
        align-items: center;
    }
}